.app {
  margin: 32px 0;
}

.container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.team-field {
  margin-bottom: 8px;
} 

.form-container:last-child {
  margin-bottom: 32px;
}

.team-btn {
  margin-right: 16px;
  margin-bottom: 16px;
}